/* Основной стиль всей страницы */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fefefe;
    color: #333;
    line-height: 1.6;
}


h1 {
    color: #005f99;
    text-align: center;
}


h2 {
    color: #008c7d;
    margin-top: 30px;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


form {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


ul {
    list-style-type: circle;
    margin-left: 20px;
}


div {
    margin-bottom: 20px;
}
